/* annule les styles du navigateur */
em{
    font-style: normal;
}

/* mon style */
.texte-rouge{
    color: red;
}
.texte-just{
    text-align: justify;
}
.majuscule{
    text-transform: uppercase;
    color: blue;
}
.texte-rose{
    color: deeppink;

}
.centre{
    padding-left: 350px;
    padding-right: 350px;

}
.large-mais-pas-trop{
    max-width: 600px;
}
@media (max-width: 600px) {
    .centre{
        padding: 1em;
        max-width: 100%;
    }
    img{
        max-width: 100vw;
    }
    
}
footer{
    text-align: center;
    
}